*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

:root {
  --black: hsla(0, 0%, 0%, 0.1);
  --white: hsl(0, 0%, 100%);

  --soft-blue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);

  --dark-blue-main: hsl(217, 54%, 11%);
  --dark-blue-card: hsl(216, 50%, 16%);
  --dark-blue-line: hsl(215, 32%, 27%);

  --font-primary: 'Outfit', sans-serif;
}

html {
  height: -webkit-fill-available;
  font-size: 62.5%;
}

body {
  background-color: var(--dark-blue-main);
  color: var(--white);
  font-family: var(--font-primary);
}

p {
  margin: 1.6rem 0;
}

#primary-content {
  width: 100%;
  min-height: 100vh;
  display: grid;
  place-items: center;

}

.card {
  width: 33rem;
  margin: 30px 0;
  padding: 22px;
  background-color: var(--dark-blue-card);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  box-shadow: 0 25px 0 15px var(--black),
    0 25px 0 38px hsla(0, 0%, 0%, 0.05);
}

.card__figure img {
  width: 100%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
}

.card__title {
  font-size: 2.2rem;
  margin: 2rem 0 1.4rem;
}

.card__description {
  color: var(--soft-blue);
  font-size: 1.7rem;
  font-weight: 300;
  line-height: 1.5;
  margin: 0;
}

.card__info {
  display: flex;
  justify-content: space-between;
  padding: .8rem 0 .5rem;
}

.card__info>div {
  display: flex;
  align-items: center;
  column-gap: 5px;
  font-size: 1.5rem;
}

.card__info>div img {
  height: 1.6rem;
}

.card__info--count {
  color: var(--cyan);
  font-weight: 600;
}

.card__info--time {
  color: var(--soft-blue);
}

.card__author {
  display: flex;
  align-items: center;
  border-top: 2px solid var(--dark-blue-line);
  padding-top: 1.2rem;
}

.card__author--avatar {
  border: 1.5px solid var(--white);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  height: 3.2rem;
}

.card__author--avatar img {
  height: 100%;
}

.card__author p {
  margin: 0 15px;
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--soft-blue);
}

.card__author--name {
  color: var(--white);
}